body {
    margin: 0%;
    padding: 0%;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

nav {
    grid-area: nav-bar;
    background-color: #424245;
    color: white;
    padding: 1.5rem;
    text-align: center;
}

aside {
    display: flex;
    align-items: center;
    flex-direction: column;

}

aside h3 {
    color: #4f4f4f;
}

aside p {
    color: #808B96;
    font-weight: bold;
    line-height: 12px;
}

aside p strong {
    color: #b9b9b9;
}

.accessory {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


main {
    grid-area: products;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 1rem;

}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.card h3 {
    color: #4f4f4f;
    margin-top: 0%;
}

.card img {
    width: 100%;

}

.card p {
    color: #f56300;
    font-weight: bold;
    margin-top: 0%;
}

.card button {
    background-color: #06c;
    width: 100%;
    color: blanchedalmond;
    padding: 1em;
    border: none;

}

footer {
    grid-area: pie-de-pagina;
    background-color: black;
    color: #808B96;
    padding: 1.5rem;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "nav-bar nav-bar "
        "aside-bar products "
        "pie-de-pagina pie-de-pagina";
    grid-template-columns: 15% 85%;
}